<!--add hamburber style menu for mobile-->

<div class="navbar">

    <nav class="navbar-default navbar-fixed-top">
      <div class="container">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/index.html">{T|H}</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/index.html">blog</a></li>
            <li><a href="/about.html">about</a></li>
            <li><a href="/photo-gallery.html">portfolio</a></li>
            <li><a href="/now.html">now</a></li>

          </ul>
        </div>
    </nav>

<script type="text/javascript">   
  colorLinks("#8912FF");

  function colorLinks(hexColor)
  {
      var links = document.getElementsByTagName("a");
      for(var i=0;i<links.length;i++)
      {
          if(links[i].href)
          {
              links[i].style.color = hexColor;  
          }
      }  
  }
  </script>